/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*Custom CSS begins here*/


/*Animations begin here*/
/*This sets the keyframes for the blush animation changing colour*/
@keyframes  blush{
  0% {
    color: #000000;
  }
  50%{
  color: #000000;
  }
  100% {
    color: #ff00007a;
  }
}
/*These are the keyframes for the active animation changing size and maintaing red color on the logo/H1 */
@keyframes heartbeat {
  0% {
    
    color: #ff00007a;
  }
  50% {
    transform: translate(20px, 0px);
    transform: scale(1.1, 1.1);
    color: #ff00007a;
  }
  100% {
    color: #ff00007a;
  } 
}

/*These are the keyframes for the active animation changing size and maintaing red color on the nav links*/
@keyframes heartbeat2 {
  0% {
    
    color: #ff00007a;
  }
  50% {
    transform: translate(20px, 0px);
    transform: scale(1.1, 1.1);
    color: #ff00007a;
  }
  100% {
    color: #ff00007a;
  }
}

/*logo color change animation*/
.nav.flex a {
  color: #000000;
  animation-name: blush;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  transition-timing-function: ease-out;

}
 /*Adds underline on hover and sets the nav links to animate on hover infinitley */
.nav.flex a:hover {
  animation: heartbeat2 0.8s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  transition-timing-function: ease-out;
  border-bottom: 1px rgba(146, 14, 14, 0.582) solid;
  transition: border 0.4s;
}

/*stes animation properties for the h1 color change */
h1 {
  color: #000000;
  animation-name: blush;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  transition-timing-function: ease-out;
}

/* Grows and stretchs heartmore logo when in teh active state */
h1:active {
  animation: heartbeat 0.8s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  transition-timing-function: ease-out;
}

/*Cross-site css styles*/
/*This stes the body background, font and kepps the cursor conistent*/
body {
  background-color: rgb(255, 255, 255);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  overflow-x: hidden;
  cursor: default;
}
/*removes all styles for unordered lists acrros the site */
ul {
  list-style: none;
}
/*container structure an dmax width on desktop*/
.container {
  max-width: 1400px;
  margin: 0 auto;
}

/*nav styles*/
/*sets logo size and keeps gives it space */
.logo {
  font-size:large;
  padding-left: 10px;
}
/*sets the heigh of the navigation*/
.nav {
  height: 100px;
}

/*makes nav responsive and positions the links and logo on either side of the nav*/
.nav .flex {
  justify-content: space-between;
}

/*lines up nav ul horizontaly*/
.nav ul {
  display: flex;
}

/*sets styles and position of nav links*/
.nav a {
  margin: 0 2.5vw;
  text-decoration: none;
  color: black;
  font-size: small;
}

/*used on both nav and footer to position content responsively*/
.flex {
  display: flex;
  align-items: center;
  height: 100%;
}

/*index page styling begins here*/
/*Sets up the grid for the home page */
.grid {
  display: flex;
  align-items: center;
  display: grid;
  grid-template-columns: 0.3fr 0.8fr 0.8fr 0.3fr;
  grid-template-rows: 1.5fr;
  gap: 1em 1em;
  grid-template-areas: "leotitle leoimg ivyimg ivytitle";
}

/*postions and styles h2 title leo*/
.leotitle {
  grid-area: leotitle;
  display: flex;
  justify-content: end;
  font-size: 5vw;
}
/*positions and styles leo image on home page*/
.leoimg {
  grid-area: leoimg;
  max-width: 100%;
  object-fit: cover;
  height: 75vh;
}
/*positions and styles ivy image on home page*/
.ivyimg {
  grid-area: ivyimg;
  max-width: 100%;
  object-fit: cover;
  height: 75vh;
}

/*positions and styles h2 title ivy*/
.ivytitle {
  grid-area: ivytitle;
  display: flex;
  justify-content: flex-start;
  font-size: 5vw;
}

/*Leo about page stylings begin here*/
/*Sets up the grid for the leo about page*/
.grid2 {
  display: grid;
  align-items: center;
  grid-template-columns: 0.9fr 1.4fr 1.2fr 0.9fr;
  grid-template-rows: 1fr;
  gap: 1em 1em;
  grid-template-areas: "leotitleandquote leoimageabout leoabout leoimagestack";
}
/*positions and styles leo about image on about page*/
.leoimageabout {
  grid-area: leoimageabout;
  max-width: 100%;
  object-fit: cover;
  height: 75vh;
}
/*stes up nested grid for leo title and quote */
.leotitleandquote {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0.2fr 1.8fr;
  gap: 1em 1em;
  grid-template-areas:
    "leotitle2"
    "leoquote";
  grid-area: leotitleandquote;
}
/*positions and styles leo h2 title and quote on about page*/
.leotitle2 {
  grid-area: leotitle2;
  display: flex;
  justify-content: center;
  font-size: 5vw;
}

.leoquote {
  grid-area: leoquote;
  font-size: small;
  display: flex;
  justify-content: center;
}
/*sets up nested grid for the about title and text*/
.leoabout {
  display: grid;
  align-items: start;
  grid-template-columns: 1fr;
  grid-template-rows: 1rem 1.9fr;
  gap: 1em 1em;
  grid-template-areas:
    "leotitleabout"
    "leotextabout";
  grid-area: leoabout;
  height: 100%;
}
/*positions and styles leo about title*/
.leotitleabout {
  grid-area: leotitleabout;
  height: 2em;
}
/*positions and styles leo about text*/
.leotextabout {
  grid-area: leotextabout;
  font-size: small;
  max-height: 60vh;
}
/*sets up nested grid for leo about image stack */
.leoimagestack {
  grid-area: leoimagestack;
  max-width: 100%;
  max-height: 75vh;
}
/*positions and styles leo about images*/
.leoimage2 {
  grid-area: leoimagestack;
  max-width: 90%;
  max-height: 50%;
  object-fit: cover;
  margin-bottom: 1em;
}

.leoimage3 {
  grid-area: leoimagestack;
  max-width: 90%;
  max-height: 50%;
  object-fit: cover;
  margin-top: 1em;
}

/*Ivy about page stylings begin here*/
/*Sets up the grid for the ivy about page*/
.grid3 {
  display: grid;
  align-items: center;
  grid-template-columns: 0.9fr 1.4fr 0.9fr 1.2fr;
  grid-template-rows: 1fr;
  gap: 1em 1em;
  grid-template-areas: "ivytitleandquote ivyimageabout ivyimagestack ivyabout";
}
/*postions and styles ivy about image*/
.ivyimageabout {
  grid-area: ivyimageabout;
  max-width: 100%;
  object-fit: cover;
  height: 75vh;
}
/*sets up nested grid for ivy title and quote*/
.ivytitleandquote {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0.2fr 1.8fr;
  gap: 1em 1em;
  grid-template-areas:
    "ivytitle2"
    "ivyquote";
  grid-area: ivytitleandquote;
}
/*positions and styles ivy h2 title and quote*/
.ivytitle2 {
  grid-area: ivytitle2;
  display: flex;
  justify-content: center;
  font-size: 5vw;
}

.ivyquote {
  grid-area: ivyquote;
  font-size: small;
  display: flex;
  justify-content: center;
}
/*sets up nested grid for ivy text*/
.ivyabout {
  display: grid;
  align-items: start;
  grid-template-columns: 1fr;
  grid-template-rows: 1rem 1.9fr;
  gap: 1em 1em;
  grid-template-areas:
    "ivytitleabout"
    "ivytextabout";
  grid-area: ivyabout;
  height: 100%;
}
/*positions and styles ivy about text title and paragraph text*/
.ivytitleabout {
  grid-area: ivytitleabout;
  height: 2em;
}

.ivytextabout {
  grid-area: ivytextabout;
  font-size: small;
  max-height: 60vh;
}
/*Sets up nested grid for ivey about page image stack*/
.ivyimagestack {
  grid-area: ivyimagestack;
  max-width: 100%;
  max-height: 75vh;
}
/*positions and styles ivy image stack*/
.ivyimage2 {
  grid-area: leoimagestack;
  max-width: 93%;
  max-height: 45%;
  object-fit: cover;
}

.ivyimage3 {
  grid-area: leoimagestack;
  max-width: 93%;
  max-height: 45%;
  object-fit: cover;
  margin-top: 1em;
}

/*Footer stylings begin here*/
/*sets footer height*/
.footer {
  height: 100px;
}
/*positions footer links*/
.footer .flex {
  justify-content: center;
}
/*positions footer links side-by-side*/
.footer ul {
  display: flex;
}
/*Styles and positions footer links, adds spacing and removes default link stylings*/
.footer a {
  text-decoration: none;
  color: black;
  margin: 0 1vw;
  font-size: small;
}

/*media styles begin here*/
@media screen and (max-width: 1300px) {
/*sets container width for tablet with auto side margins*/
.container {
  max-width: 800px;
  margin: 0 auto;
}
/*sets up the grid for tablet size layout on teh leo about page*/
.grid2 {
  display: grid;
  grid-template-columns: 0.8fr 1.5fr;
  grid-template-rows: 1fr 1fr;
  gap: 1em 1em;
  grid-template-areas:
    " leotitleandquote leoimageabout "
    " leoimagestack leoabout ";
}
/*sets nested grid for leo title and quote*/
.leotitleandquote {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 3rem;
  gap: 1em 1em;
  grid-template-areas:
    "leotitle2"
    "leoquote";
  grid-area: leotitleandquote;
}
/*sets grid area for leo about title and size style*/
.leotitle2 {
  grid-area: leotitle2;
  font-size: 10vw;
}
/*sets grid area for leo quote and size styling*/
.leoquote {
  grid-area: leoquote;
  font-size: small;
}
/*sets grid area for leo about image and size styling*/
.leoimageabout {
  grid-area: leoimageabout;
  max-width: 100%;
  max-height: 70vh;
  object-fit: cover;
}
/*sets nested grid area for leo about image stack tablet*/
.leoimagestack {
  display: grid;
  justify-items: center;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 1em 1em;
  grid-template-areas:
    "leoimage2"
    "leoimage3";
  grid-area: leoimagestack;
}
/*sets sizing and grid area for leo about stacked images tablet*/
.leoimage2 {
  grid-area: leoimage2;
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
  margin: 0;
}

.leoimage3 {
  grid-area: leoimage3;
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
  margin: 0;
}
/*sets up nested grid for leo about paragraph*/
.leoabout {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 2rem 1.8fr;
  gap: 1em 1em;
  grid-template-areas:
    "leotitleabout"
    "leotextabout";
  grid-area: leoabout;
  height: 100%;
}
/*sets grid area for leo title on paragraph*/
.leotitleabout {
  grid-area: leotitleabout;
}
/*sets grid area for leo pargraph text and size styling*/
.leotextabout {
  grid-area: leotextabout;
  font-size: small;
  max-width: 100%;
}
/*sets up grid for ivy about page tablet layout*/
.grid3 {
  display: grid;
  justify-content: center;
  grid-template-columns: 1.5fr 0.8fr;
  grid-template-rows: 1fr 1fr;
  gap: 1em 1em;
  grid-template-areas:
    "ivyimageabout ivytitleandquote "
    "ivyabout ivyimagestack";
}
/*sets up grid for ivy title and quote layout*/
.ivytitleandquote {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 3rem;
  gap: 1em 1em;
  grid-template-areas:
    "ivytitle2"
    "ivyquote";
  grid-area: ivytitleandquote;
}
/*sets grid area for ivy tilte and quote and size styling*/
.ivytitle2 {
  grid-area: ivytitle2;
  font-size: 10vw;
}

.ivyquote {
  grid-area: ivyquote;
  font-size: small;
}
/*sets grid area for ivy about image and size styling*/
.ivyimageabout {
  grid-area: ivyimageabout;
  max-width: 100%;
  max-height: 70vh;
  object-fit: cover;
}
/*sets up nested grid ivy images stack tablet*/
.ivyimagestack {
  display: grid;
  justify-items: center;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 1em 1em;
  grid-template-areas:
    "ivyimage2"
    "ivyimage3";
  grid-area: ivyimagestack;
}
/*sets grid area for ivy stacked images sets size styling*/
.ivyimage2 {
  grid-area: ivyimage2;
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
  margin: 0;
}

.ivyimage3 {
  grid-area: ivyimage3;
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
  margin: 0;
}
/*sets up nested grid for ivy about text*/
.ivyabout {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 2rem 1.8fr;
  gap: 1em 1em;
  grid-template-areas:
    "ivytitleabout"
    "ivytextabout";
  grid-area: ivyabout;
  height: 100%;
}
/*sets grid area and size styling for ivy about title and paragraph text*/
.ivytitleabout {
  grid-area: ivytitleabout;  
}

.ivytextabout {
  grid-area: ivytextabout;
  font-size: small;
  max-width: 100%;    
}
/*media qury for mobile sizing*/
@media screen and (max-width: 600px) {
/*sets container width and auto side margins*/
.container {
  max-width: 350px;
  margin: 0 auto;
}
/*overites padding on logo from previous screen sizes*/
.logo{ 
  padding-left: 0;
}
/*adds flex properties to grid, wraps items and centers content*/
.grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
/*changes order and text styling for leo title on home page*/
.leotitle {
  order: 1;
  font-size: 12vw;
}

.leoimg {
  order: 2;
  max-height: 400px; 
}
/*overites max-height from previous grid*/
.leoimagestack{
  max-height: 100%;
}
/*changes order and text styling for ivy title and image on home page*/
.ivytitle {
  order:3;
  font-size: 12vw;
  margin-top: 10%;
}

.ivyimg {
  order: 4;
  max-height: 400px;
  margin-bottom: 15%;
}
/*overites max-height from previous grid*/
.ivyimagestack{
  max-height:100%;
}
/*adds flex properties to grid, wraps items and centers content*/
.grid2 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
/*styles leo about title for mobile*/
.leotitle2{
  font-size: 20vw;
}
/*adds flex properties to grid, wraps items*/
.grid3 {
  display: flex;
  flex-wrap: wrap;
}
/*styles leo about title for mobile*/
.ivytitle2 {
  font-size: 20vw;
}

}

}